<!-- =====================================================
     FOOTER
===================================================== -->

<footer class="site-footer">

  <div class="container footer-inner">


    <div>

      <a href="index.html" class="logo">
        SJ<span>.</span>
      </a>


      <p>
        UI/UX Designer crafting thoughtful
        digital experiences.
      </p>

    </div>


    <span>
      © 2026 Swapnil Jadhav
    </span>


    <a href="#" class="back-top">
      Back to top ↑
    </a>


  </div>

</footer>